# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.pio/
.vscode/
./tests/local_unittest/build/
./tests/local_unittest/CMakeFiles/
./tests/local_unittest/cmake_install.cmake
./tests/local_unittest/Makefile
./tests/local_unittest/*.cmake
./test/local_unittest/CMakeCache.txt
./test/local_unittest/bin/
./test/local_unittest/lib/